/lobe/dat/

/disk/iso/
/disk/usb/

/prog/hdt/
/prog/jar/
/prog/zip/
/prog/tgz/

/arch
/ipxe
/skin
/tool

/prog/arm/
/prog/bin/
/prog/dmg/
/prog/elf/
/prog/pos/
/prog/win/

/xana/doc/*
/xana/pdf/*
/xana/web/*
/xana/zip/*

/lobe/eye/ant5/
/lobe/eye/tfjs/
/lobe/nlp/core/
/lobe/nlp/nltk/

/arch

/help/ipfs/*
/help/main/*
/help/page/*
