/.Trash-*/

/arch
/help
/skin
/jade
/know

/node
/edge
/mobi
/repo

/ipxe
/disk/iso/
/disk/mmc/
/disk/rom/
/disk/usb/
/virt

/lobe/eye/ant5/
/lobe/eye/tfjs/
/lobe/jar/
/lobe/hdt/
/lobe/zip/
/lobe/nlp/core/
/lobe/nlp/nltk/

/know/doc/*
/know/pdf/*
/know/web/*
/know/zip/*

/prog/arm/
/prog/dmg/
/prog/elf/
/prog/win/
/prog/zip/
/prog/pos/

