help/ipfs/*
help/main/*
help/page/*
help/rtfd/*

lobe/dat/

disk/iso/
disk/usb/

prog/hdt/
prog/jar/
prog/zip/

ipxe
skin
tool

prog/arm/
prog/dmg/
prog/elf/
prog/win/

rtfd/doc/*
rtfd/pdf/*
rtfd/web/*
rtfd/zip/*

lobe/eye/ant5/
lobe/eye/tfjs/
lobe/nlp/core/
lobe/nlp/nltk/
